body{
  margin: 0;
  padding: 0;
  font-family: arial;
  width: 100%;
  background-image: url(haha.png);
  background-size: cover;
}
.peringatan{
  padding: 10px;
  font-size: 14pt;
  color: #fff;
  background-color: purple;
  border: 2px solid purple;
}
.box{
  min-width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  padding-bottom: 8px;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.75);
  box-shadow: 1px 5px 25px 0px;
  text-align: center;
  border-radius: 25px;
}

.Login{
  background-color: #57b846;
  color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: 400px;
  margin: 0;
  margin-bottom: 10%;
  border-radius: 25px 25px 0px 0px;
}

.box input[type = "text"],.box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: justify;
  border: 2px solid #0f0f0f;
  padding: 20px 16px;
  width: 280px;
  outline: none;
  color: black;
  border-radius: 30px;
  transition: 0.25s;
  text-align: center;
}

::placeholder{
  font-weight: bold;
  font-size: 11pt;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 300px;
  border-color: #2ecc71;
}

.text{
  text-align: right;
  font-size: 11pt;
  margin: 0;
  margin-right: 12%;
  color: #999999;
}

.link1{
  text-decoration: none;
  color: #57b846;
}

.button{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  margin-top: 40px;
  text-align: center;
  background-color: #57b846;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.25s;
}

.link{
  width: 100%;
  margin-bottom: 70px;
}

.have-account{
  float: left;
  color: #999999;
  text-decoration: none;
  font-family: sans-serif;
  margin-left: 150px;
  margin-top: 90px;
  font-size: 11pt;
  text-align: center;

}

.Sign-up{
  float: left;
  color: #57b846;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 11pt;
  margin-left: 170px;
  margin-top: 12px;
  margin-bottom: 29px;
  text-align: center;
  font-weight: bold;
}
